<button class="addUser" (click)="newUserForm()">
    <i class="fa-solid fa-plus"></i>
    <span>New User</span>
</button>

<div *ngIf="createNewUser === true" id="newUserForm">
    <app-add-user (userCreated)="updateUsersList()" #addUserComponent></app-add-user>
</div>

<table mat-table [dataSource]="users">
    <!-- Columna correo -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let user">{{ user.email }}</td>
    </ng-container>

    <!-- Columna contraseña -->
    <ng-container matColumnDef="password">
        <th mat-header-cell *matHeaderCellDef>Password</th>
        <td mat-cell *matCellDef="let user">{{ user.password }}</td>
    </ng-container>

    <!-- Columna rol -->
    <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>User Role</th>
        <td mat-cell *matCellDef="let user">{{ user.role }}</td>
    </ng-container>

    <!-- Columna id -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>User ID</th>
        <td mat-cell *matCellDef="let user">{{ user.id }}</td>
    </ng-container>

    <!-- Columna acciones -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let user">
            <button (click)="userMenuComponent.toggleMenu()">
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </button>
            <app-user-menu (userUpdated)="updateUsersList()" (yesClicked)="updateUsersList()" [user]="user" #userMenuComponent></app-user-menu>
          </td>
    </ng-container>

    <!-- Filas de encabezado y datos -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
