<table mat-table [dataSource]="orders">
    <!-- Columna Cliente -->
    <ng-container matColumnDef="client">
        <th mat-header-cell *matHeaderCellDef>Client</th>
        <td mat-cell *matCellDef="let order">{{ order.client }}</td>
    </ng-container>

    <!--columna table N°-->
    <ng-container matColumnDef="table">
        <th mat-header-cell *matHeaderCellDef>Table N°</th>
        <td mat-cell *matCellDef="let order">{{ order.table }}</td>
    </ng-container>

    <!-- Columna Productos -->
    <ng-container matColumnDef="products">
        <th mat-header-cell *matHeaderCellDef>Products</th>
        <td mat-cell *matCellDef="let order">
            <ul>
                <li *ngFor="let productInfo of order.products">
                    {{ productInfo.qty }} {{ productInfo.product.name }}
                </li>
            </ul>
        </td>
    </ng-container>

    <!-- Columna Acción -->
    <ng-container matColumnDef="delivery">
        <th mat-header-cell *matHeaderCellDef>Delivery Status</th>
        <td mat-cell *matCellDef="let order">
            <button (click)="markDelivered(order)">Mark delivered</button>
        </td>
    </ng-container>

    <!-- Filas de encabezado y datos -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>