.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 4%;
}

img {
    height: 80px;

}

.fa-circle-arrow-left {
    font-size: 34px;
}

h2 {
    text-align: center;
    margin-top: 35px;
}

#ordersList {
    display: flex;
    justify-content: center;
}