<header>
    <img src="../../../assets/bqaclogo.png" alt="Logo"> 
</header>
<div id="menuSelection">
    <button class ="menuBtn" (click)="breakfastMenu()">Breakfast</button>
    <button class ="menuBtn" (click)="lunchAndDinnerMenu()">Lunch & Dinner</button>
</div>

<div id="displayMenu">
    <section id="menusContainer">
        <div id="breakfastMenu" *ngIf="isBreakfastSelected" class="menuType">
            <div *ngFor="let product of filteredProducts; let $index = index" class="menuList">
                <!--<img src="{{product.image}}">-->
                <h3>{{product.name}}</h3>
                <h3>{{product.price | currency}}</h3>
                <div class="addProduct">
                    <button [disabled]="productQuantities[$index] === 0"  class="qtyBtn" (click)="productQuantities[$index] = productQuantities[$index] - 1">-</button>
                    <span>{{ productQuantities[$index] }}</span>
                    <button class="qtyBtn" (click)="productQuantities[$index] = productQuantities[$index] + 1">+</button>
                </div>
                <button [disabled]="productQuantities[$index] === 0" class="addBtn" (click)="addProductToOrder(productQuantities[$index], product)">Add</button>
            </div>
        </div>
        <div id="l&dMenu" *ngIf="!isBreakfastSelected" class="menuType">
            <div *ngFor="let product of filteredProducts; let $index = index" class="menuList">
                <!--<img src="{{product.image}}">-->
                <h3>{{product.name}}</h3>
                <h3>{{product.price | currency}}</h3>
                <div class="addProduct">
                    <button [disabled]="productQuantities[$index] === 0" class="qtyBtn" (click)="productQuantities[$index] = productQuantities[$index] - 1">-</button>
                    <span>{{ productQuantities[$index] }}</span>
                    <button class="qtyBtn" (click)="productQuantities[$index] = productQuantities[$index] + 1">+</button>
                </div>
                <button [disabled]="productQuantities[$index] === 0" class="addBtn" (click)="addProductToOrder(productQuantities[$index], product); resetQuantity($index)">Add</button>
            </div>
        </div>
    </section>
    <app-neworder-form #newOrderForm></app-neworder-form>
</div>