img {
    height: 80px;
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
}

app-logout {
    position: absolute;
    top: 5%;
    right: 20px;
}

#ordersList {
    display: flex;
    justify-content: center;
}