<div id="client-table">
    <label for="clientsName">Client's Name: </label>
    <input type="text" id="clientsName" [(ngModel)]="clientName">
    <label for="tableNumber">Table N°: </label>
    <input type="text" id="tableNumber" [(ngModel)]="tableNumber">
</div>
<div id="small" *ngIf="!clientName || !tableNumber">
    <small>*Client name and table N° are required</small>
</div>
<div id="orderSummary">
    <h2>Order Summary</h2>
    <div>
        <div id="orderProducts" *ngFor="let item of orderedProducts, let i = index">
            <h4>{{ item.quantity }}</h4>
            <h4>{{ item.product.name }}</h4>
            <h4>{{ item.product.price | currency }}</h4>
            <i class="fa-solid fa-trash" (click)="deleteProduct(i); deletedProductClicked.emit(item.product.name)"></i>
        </div>
    </div>
    <div *ngIf="orderWasCreated" id="orderConfirmation">
        <span>Order created successfully!</span>
    </div>
    <div id="total">
        <span>Total</span>
        <span>{{ total | currency}}</span>
    </div>
    <div id="button-container">
        <button [disabled]="orderedProducts.length === 0 || !clientName || !tableNumber"
            (click)="createOrder(); createOrderClicked.emit(); resetOrder()">Create Order</button>
    </div>
</div>