<button class="addProduct" (click)="newProductForm()">
    <i class="fa-solid fa-plus"></i>
    <span>New Product</span>
</button>

<div *ngIf="createNewProduct === true" id="newProductForm">
    <app-add-product (productCreated)="updateProductsList()" #addProductComponent></app-add-product>
</div>

<table mat-table [dataSource]="products">
    <!-- Columna id -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let product">{{ product.id }}</td>
    </ng-container>

    <!-- Columna nombre -->
    <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef>Product</th>
        <td mat-cell *matCellDef="let product">{{ product.name }}</td>
    </ng-container>

    <!-- Columna precio -->
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let product">{{ product.price | currency }}</td>
    </ng-container>

    <!-- Columna tipo -->
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let product">{{ product.type }}</td>
    </ng-container>

    <!-- Columna acciones -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let product">
            <button (click)="productMenuComponent.toggleMenu()">
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </button>
            <app-product-menu (productUpdated)="updateProductsList()" (yesClicked)="updateProductsList()" [product]="product" #productMenuComponent></app-product-menu>
        </td>
    </ng-container>

    <!-- Filas de encabezado y datos -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>