<table mat-table [dataSource]="products">
    <!-- Columna id -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let product">{{ product.id }}</td>
    </ng-container>

    <!-- Columna nombre -->
    <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef>Product</th>
        <td mat-cell *matCellDef="let product">{{ product.name }}</td>
    </ng-container>

    <!-- Columna precio -->
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let product">{{ product.price | currency }}</td>
    </ng-container>

    <!-- Columna tipo -->
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let product">{{ product.type }}</td>
    </ng-container>

     <!-- Columna acciones -->
     <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let user"><button>Actions</button></td>
    </ng-container>

    <!-- Filas de encabezado y datos -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
