<form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="save($event)">
    <div>
        <label for="emailInput">Email</label>
        <input type="email" id="emailInput" formControlName="email">
        <p>
            <small *ngIf="emailInput?.hasError('required') && emailInput?.dirty">Email is required</small>
        </p>
    </div>
    <div>
        <label for="passwordInput">Password</label> 
        <input type="password" id="passwordInput" formControlName="password">
        <p *ngIf="passwordInput?.errors && passwordInput?.dirty">
            <small *ngIf="passwordInput?.hasError('required')">Password is required</small>
            <small *ngIf="passwordInput?.hasError('minlength')">Password is minimum 6 characters long</small>
        </p>
        <p *ngIf="errorMessage && passwordInput?.value">
            <small>{{ errorMessage }}</small>
        </p>    
    </div>
    <div>
        <button [disabled]="loginForm.invalid" type="submit" id="loginBtn">Login</button>
    </div>
</form>
